altair
asttokens
attrs
blinker
branca
cachetools
certifi
charset-normalizer
click
cloudpickle
colorama
comm
contourpy
cycler
dask
debugpy
decorator
et_xmlfile
exceptiongroup
executing
folium
fonttools
fsspec
geojson
geopandas
gitdb
GitPython
idna
importlib_metadata
ipykernel
ipython
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
locket
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
narwhals
nest_asyncio
numpy
openpyxl
packaging
pandas
parso
partd
pickleshare
pillow
pip
platformdirs
plotly
pooch
prompt_toolkit
protobuf
psutil
pure_eval
pyarrow
pydeck
Pygments
PyKrige
pyogrio
pyparsing
pyproj
python-dateutil
pytz
pywin32
PyYAML
pyzmq
referencing
requests
rich
rpds-py
scikit-learn
scipy
setuptools
shapely
six
smmap
stack-data
streamlit
streamlit_folium
tenacity
threadpoolctl
toml
toolz
tornado
traitlets
typing_extensions
tzdata
urllib3
verde
watchdog
wcwidth
wheel
xarray
xyzservices
zipp
